/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 déc. 2016, 01:45:13
    Author     : Yohan
*/

@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
    -webkit-text-size-adjust: none;
    -ms-overflow-style: scrollbar;

    background-color: #935d8c;
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    color: rgba(255, 255, 255, 0.65);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    line-height: 1.65;
	}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    }

#header{
    
    display: block;
    max-width: 80%;
    margin: 6% auto auto auto;
    text-align: center;
    padding-bottom: 1%;
    border-radius: 0.25em;
}

#h1_header{
    font-size: 3.25em;
    margin: -2% 0 0.25em 0;
    color: #ffffff;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.025em;
  
}

#p_header{
    font-size: 1.25em;
    letter-spacing: -0.025em;
}

p{
    font: inherit;
    font-size: 0.90em;
    letter-spacing: -0.025em;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

dl {
    margin: 0 0 2em 0;
}

dl.alt dt {
    display: block;
    width: 3em;
    margin: 0;
    clear: left;
    float: left;
}

dl dt {
    color: #ffffff;
}


dl dt {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
}

dl.alt dd {
    margin: 0 0 0.85em 5.5em;
    color : #EAEAEA;
}


h2{
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
    letter-spacing: -0.025em;
}

h3{
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
    letter-spacing: -0.025em;
}

#main{
    display: block;
    max-width: 76%;
    margin: 20px auto auto auto;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;    
}

#introduction{
    display: block;
    max-width: 100%;
    margin: 20px auto auto auto;
    padding-top: 0.1%;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363; 
    border-radius: 0.25em;    
    border-bottom: solid 1px #dddddd;
}

#box_introduction{
    display: block;
    max-width: 90%;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363;
}

#content_introduction{
    display: block;
    max-width: 52%;
    margin: 70px auto auto 110px;
    padding-bottom: 1%;  
}

#barre_introduction{
    margin-bottom: 3%;
    display: block;
    max-width: 50%;
    border: solid 1px #636363;
}

#img_introduction{
    display: block;
    max-width: 35%;
    margin: -18% auto auto 75%;
    padding-bottom: 1%;
}

#fonction{
    display: block;
    max-width: 100%;
    margin: 20px auto auto auto;
    text-align: center;
    padding-top: 0.1%;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363; 
    border-bottom: solid 1px #dddddd;
}

#box_fonction{
    overflow: hidden;
    display: block;
    max-width: 100%;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363;
}

#content_fonction{
    overflow: hidden;
    display: block;
    max-width: 90%;
    margin: 70px auto auto auto;
    padding-bottom: 1%;   
}

#barre_fonction{
    display: block;
    max-width: 30%;
    margin: -1% auto auto auto;
    border: solid 1px #636363;
}

.child {
  /*background-color: blue;*/
  float: left;
  max-width: 25%;
  margin: 1% auto auto 5%;
  padding: 5% 1% 1% 1%;
}

#footer{
    overflow: hidden;
    display: block;
    max-width: 76%;
    margin: 20px auto auto auto;
    padding-bottom: 1%;
    border-radius: 0.25em;
    color : #ffffff;
}
#p_footer{
    color : #EAEAEA;
}

#footer_left{
  float: left;
  max-width: 38%;
  margin: 1% auto auto 5%;
  padding: 1% 1% 1% 1%;
}

#footer_right{
  float: right;
  max-width: 30%;
  min-width: 45%;
  margin: 1% auto auto 1%;
  padding: 1% 1% 1% 1%;
}