/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 déc. 2016, 01:45:13
    Author     : Yohan
*/

@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
    -webkit-text-size-adjust: none;
    -ms-overflow-style: scrollbar;

    background-color: #935d8c;
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    color: rgba(255, 255, 255, 0.65);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    line-height: 1.65;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.header{
    
    display: block;
    max-width: 80%;
    margin: 6% auto auto auto;
    text-align: center;
    padding-bottom: 1%;
}

#h1_header{
    font-size: 3.25em;
    margin: -2% 0 0.25em 0;
    color: #ffffff;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.025em;
  
}

#p_header{
    font-size: 1.25em;
    letter-spacing: -0.025em;
}

.nav{ 
    display: block;
    max-width: 76%;
    margin: 0 auto -5% auto;
    text-align: center;
    padding-bottom: 4%;
    border-radius: 0.25em;
    color: #636363;
    background-color: #f7f7f7;
    font-size: 1em;
    letter-spacing: -0.025em;
}

.nav a:hover{
    color: #636363;
}

.nav ul li a:hover {
    background-color: rgba(222, 222, 222, 0.25);
    border-radius: 8px;
}

.nav ul li{
    transition: margin 0.2s ease;
    display: inline-block;
    margin: 2% 0.35em;
    padding: 0;
    vertical-align: middle;
}

.nav ul li a.active {
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 8px;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;    
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

.nav ul li a{
    display: inline-block;
    transition: font-size 0.2s ease;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
}

.nav.fixed{
  transition-property: margin-top,margin-right;
  transition-duration: .5s,.1s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -moz-transition-property: margin-top,margin-right;
  -moz-transition-duration: .5s,.1s;
  -moz-transition-delay: 0;
  -moz-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -o-transition-property: margin-top,margin-right;
  -o-transition-duration: .5s,.1s;
  -o-transition-delay: 0;
  -o-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -ms-transition-property: margin-top,margin-right;
  -ms-transition-duration: .5s,.1s;
  -ms-transition-delay: 0;
  -ms-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -webkit-transition-property: margin-top,margin-right;
  -webkit-transition-duration: .5s,.1s;
  -webkit-transition-delay: 0;
  -webkit-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
 
  position: fixed;
  top:0;
  z-index:1000;
}

a{
    -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    text-decoration: none;
    color: inherit;
    pading : 1%;
}


p{
    font: inherit;
    font-size: 0.90em;
    letter-spacing: -0.025em;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

dl {
    margin: 0 0 2em 0;
}

dl.alt dt {
    display: block;
    width: 3em;
    margin: 0;
    clear: left;
    float: left;
}

dl dt {
    color: #ffffff;
}


dl dt {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
}

dl.alt dd {
    margin: 0 0 0.85em 5.5em;
    color : #EAEAEA;
}


h2{
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0.4em 0;
    letter-spacing: -0.025em;
}

h3{
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
    margin: 4% 0 0.8em 0;
    letter-spacing: -0.025em;
}

#h3_testimony{
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
    margin: 2% 0 0 0;
    letter-spacing: -0.025em;
}

#button_introduction {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 26%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #dddddd;
    color: #636363 !important;
}

#button_footer {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 26%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
    color: #ffffff !important;

}

#button_testimony {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #80578F;
  width: 16%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 2%;
}

#main{
    display: block;
    max-width: 76%;
    margin: 20px auto auto auto;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;    
}

#introduction{
    overflow: hidden;
    display: block;
    max-width: 100%;
    margin: 20px auto auto auto;
    padding-top: 0.1%;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363; 
    border-radius: 0.25em;    
    border-bottom: solid 1px #dddddd;
}

#box_introduction{
    overflow: hidden;
    display: block;
    max-width: 90%;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363;
}

#content_introduction{  
    display: block;
    max-width: 62%;
    float: left;
    margin: 1% auto auto 5%;
    padding: 5% 1% 1% 1%;
}

#barre_introduction{
    margin-bottom: 3%;
    display: block;
    max-width: 50%;
    border: solid 1px #636363;
}

#img_introduction{
    display: block;
    max-width: 35%;
    float: left;
    margin: 1% auto auto 5%;
    padding: 5% 1% 1% 1%;
}

#fonction{
    display: block;
    max-width: 100%;
    margin: 20px auto auto auto;
    text-align: center;
    padding-top: 0.1%;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363; 
    border-bottom: solid 1px #dddddd;
}

#box_fonction{
    overflow: hidden;
    display: block;
    max-width: 100%;
    padding-bottom: 1%;
    background-color: #ffffff;
    color: #636363;
}

#content_fonction{
    overflow: hidden;
    display: block;
    max-width: 90%;
    margin: 70px auto auto auto;
    padding-bottom: 1%;   
}

#barre_fonction{
    display: block;
    max-width: 30%;
    margin: -1% auto auto auto;
    border: solid 1px #636363;
}

.child {
  /*background-color: blue;*/
  float: left;
  max-width: 25%;
  margin: 1% auto auto 5%;
  padding: 5% 1% 1% 1%;
}

#testimony{
    display: block;
    max-width: 100%;
    padding-bottom: 1%;
    border : solid 2px black;
}

.child_testimony{
    display: block;
    max-width: 100%;
    padding-bottom: 10%;
    border : solid 2px black;
    
}

#box_testimony{
    display: block;
    padding-bottom: 1%;
    margin : 0 10% 0 10%;
    padding-top: 4%;   
}

#footer{
    overflow: hidden;
    display: block;
    max-width: 76%;
    margin: 20px auto auto auto;
    padding-bottom: 1%;
    border-radius: 0.25em;
    color : #ffffff;
}
#p_footer{
    color : #EAEAEA;
}

#footer_left{
  float: left;
  max-width: 38%;
  margin: 1% auto auto 5%;
  padding: 1% 1% 1% 1%;
}

#footer_right{
  float: right;
  max-width: 30%;
  min-width: 45%;
  margin: 1% auto auto 1%;
  padding: 1% 1% 1% 1%;
}


